# Pandas

In [2]:
import pandas as pd

In [3]:
import numpy as np

# buit on top of Numpy
#### It allows for fast analysis and data cleaning and preparation
#### best performance and productivity
#### built-in visualization
#### can work with data from various sources

## 1. Series

In [4]:
#It is like numpy arrays but

In [6]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [7]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [11]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [12]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [14]:
#Indexing in Series

In [15]:
Ser1 = pd.Series([1,2,3,4],['US','India','AUs',"Pak"])

In [16]:
Ser1

US       1
India    2
AUs      3
Pak      4
dtype: int64

In [17]:
Ser2 = pd.Series([1,2,5,4],['US','India','Italy','Pak'])

In [18]:
Ser2

US       1
India    2
Italy    5
Pak      4
dtype: int64

In [19]:
Ser1['US']

1

In [22]:
ser3 = pd.Series(data=labels)

In [23]:
ser3

0    a
1    b
2    c
dtype: object

In [21]:
ser3[1]

'b'

In [24]:
Ser1

US       1
India    2
AUs      3
Pak      4
dtype: int64

In [25]:
Ser2

US       1
India    2
Italy    5
Pak      4
dtype: int64

In [26]:
Ser1 + Ser2

AUs      NaN
India    4.0
Italy    NaN
Pak      8.0
US       2.0
dtype: float64